.app {
    background-size: cover;
    background-position: center;
}

.app.img1{
    background-image: url(/img1.jpg);   
}

.app.img2{
    background-image: url(/img2.jpg);
}

.app.img3{
    background-image: url(/img3.jpg);
}

.app.img4{
    background-image: url(/img4.jpg);
}